<div class="container">
<h1>New Post</h1>
<%= form_for :post, :url=>{'action'=>'create'},:remote => true,:class=>"form-horizontal" do |f| %>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this value from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <%= f.label :Name %><br>
  <%= f.text_field:name %>
</div>
<p>
  <%= f.label :Description %><br>
  <%= f.text_area:des %>
</p>
<p>
  <%= f.label :Post_Type %><br>
  <%= f.select(:type,[["Default","Default"],["Public","Public"],["Only Me","Only Me"],["Friends","Friends"]]) %>  
</p>
<p class="btn btn-primary">

 <%= f.submit %>

</p>
<% end %>
</div>

