
<div>
  <strong>Name:</strong>
  <%= @post.name %>
</div>
 
<div>
  <strong>User_id:</strong>
  <%= @post.user_id %>
</div>
<div>
  <strong>Post_Id:</strong>
  <%= @post.id %>
</div>
<div>
  <strong>Description:</strong>
  <%= @post.des %>
</div>
<div>
  <strong>Post_Type:</strong>
  <%= @post.type %>
</div>
    